body{
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    background-color:#d3eeef;
    font-family: "Nunito";
    font-size: 14px;
    color: #333333;

}

.background{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content:center ;
    align-items: center;
    background-color: white;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 20px 0;
}

h1{
    flex: 100%;
    text-align: center;
    text-transform: uppercase;
}

span{
    margin: 5px;
}

fieldset{
    flex: 70%;
    max-width: 900px;
    padding: 2%;
    margin: 20px 0;
    border: none;
    border-radius: 20px;
    background-color: rgb(231, 243, 244, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 20px ;
}



.container .form-field{
    display: flex;
    margin-bottom: 10px;
}

.container :nth-child(7),
.container :nth-child(8) {
    margin-bottom: 0;
}

.section-one .form-field{
    flex: calc(50% - 10px);
}

.form-field label{
    flex: 0 0 100px;
}

.form-field input,
.form-field select,
.form-field textarea{
    flex: 1 1 100%;
    width: 100%;
    font-family: "Nunito";
    border: 1px lightgray solid;
    border-radius: 5px;
}

form{
    width: 100%;
    max-width: 400px;
}

/* sekce dva */

.box-three{
    flex: calc((100% / 3) - 20px);
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px ;
    margin-bottom: 20px;
}

.box-three .form-field,
.box-two .form-field{
    flex: 100% ;
}

.box-two{
    flex: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px ;
    margin-bottom: 20px;
}

.box-two .form-field{
    margin-bottom: 0;
}

.section-two .form-field{
    flex: 100%;
}

          